.under-border{
    position: relative;
    z-index: 6;
}

/* .under-border::before{
    z-index: -1;
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    border: 10px solid black;
    order: 1;
} */